<!-- sends a POST request to /presidents -->
<form action="/presidents" method="POST">
  <label>Name</label></br>
  <input type="text"  name="name"></br>

  <label>Party</label></br>
  <input type="text"  name="party"></br>

  <input type="submit" value="Create">
</form>